<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.stockscreener.db-updater</string>

    <key>ProgramArguments</key>
    <array>
        <string>osascript</string>
        <string>-e</string>
        <string>do shell script "/Users/shailendrakaushik/Documents/Python/AlgoTrading/StockScreener_2/scripts/run_db_updates.sh &amp;"</string>
    </array>

    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>18</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </array>

    <key>StandardOutPath</key>
    <string>/Users/shailendrakaushik/Library/Logs/StockScreener/launchd.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/shailendrakaushik/Library/Logs/StockScreener/launchd.err.log</string>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>